/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #666;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***
Custom
**/
body
{
    /*width:900px;*/
    font-size: 16px;
}

div.body
{
    border:1px solid #333;
    margin:0px auto;
    background-color: #fff;
}

div.header
{
    background-color: #333;
    text-transform: uppercase;
    color:#fff;
    margin:0px auto;
    vertical-align: middle;
}

div.header a
{
    color:#fff;
    text-decoration: none;
}

div.header ul li
{
    float:left;
    list-style-type: none;
    padding:10px 20px 5px 20px;
}

.header li:hover, .header li:hover a
{
    background-color: #EEE;
    color: #333;
}

div.clear
{
    clear:both;
}

div.content, div.footer
{
    padding:20px;
    margin:0px auto;
}

div.footer
{
    background-color: #ddd;
    font-size: 13px;
}

h2
{
    font-weight: bold;
    margin-bottom: 5px;
}

#login-box
{
    border:2px solid #333;
    padding:5px;
}

label
{
    /*font-weight: bold;*/
    display: block;
    padding-top:10px;
    color:#333;
}

ul.errorlist li
{
    font-size:11px;
    color:#f00;
}

.error
{
    font-size:12px;
    color:#f00;
}

div.content a
{
    font-size: 12px;
}

div.filters
{
    padding:15px;
    background-color:#8AB7D7;
    box-shadow: 0 0 5px 0 #CCC;
    border-radius: 5px;
    border: 1px solid #333;
}

div.results table
{
    width:100%;
    border: 1px solid #333;
}

div.results th
{
    padding:5px;
    background-color:#33c;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    text-align:left;
}

div.results tr.even
{
    background-color:#eee;
}

div.results td
{
    padding:3px 5px;
}