<!DOCTYPE html>
<html>
    <head>
        <title>Activity Tracker - {% block title %}Home{% endblock title %}</title>
        <link rel='stylesheet' href='/static/main.css' />
    </head>
    <body>
        <div class='body'>
            <div class='header'>
                <ul>
                    {% block menu %}
                        <li>
                            <a href='{% url index %}' title='Activity Tracker - Home'>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href='{% url auth-new-user %}' title='Activity Tracker - New User'>
                                New User
                            </a>
                        </li>
                    {% endblock menu %}
                </ul>
                <div class='clear'></div>
            </div>

            <div class='content'>
                {% block content %}

                    <h2>Login to Activity Tracker</h3>

                    {% if resp %}
                        <div style='font-size:12px; color:#f00;'>
                            {% if resp.status == 'UserPending' %}
                                User account is still pending. Please use the validation link provided in the Welcome email
                                before accessing the website again.
                            {% else %}
                                Invalid credentials provided. Please try again.
                            {% endif %}
                        </div>
                    {% endif %}

                    <div id='login-box' >
                        <form method='POST' action='{% url auth-login %}'>
                            {% csrf_token %}

                            {{ form }}

                            <p>&nbsp;</p>
                            <input type='submit' value='Submit' />
                        </form>
                    </div>

                {% endblock content %}
            </div>
        </div>
    </body>
</html>
