{% extends 'auth_index.html' %}

{% block title %}
    Create a New User
{% endblock title %}

{% block content %}

    <h2>Sign up for Activity Tracker</h3>

    {% if resp %}
        <div style='font-size:12px; color:#f00;'>
            {% if resp.status == 'UserExists' %}
                User already exists. Please login <a href='{% url index %}' title='Login to Activity Tracker'>here</a>.
            {% else %}
                An error occured. Please try again later.
            {% endif %}
        </div>
    {% endif %}

    <div class='filters' >
        <form method='POST' action='{% url auth-new-user %}'>
            {% csrf_token %}

            {{ form }}

            <p>&nbsp;</p>
            <input type='submit' value='Submit' />
        </form>
    </div>

{% endblock content %}